#userInputField {
  width: 38rem;
  padding: 6px;
  margin-left: 3%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#inputBox-style {
  justify-content: center;
  width: 40%;
}

#userNameInputField {
  width: 60%;
  padding: 1%;
}

.modal {
  background-color: #1e1f1ceb;
}
